{% extends 'base.html' %}
{% load static %}
{% block title %}Search {{ search_input }}{% endblock %}
{% block mystyles %}
    <link rel="stylesheet" href="{% static 'css/search_page.css' %}">
{% endblock %}
{% block content %}
    <div class="container search-wrapper">
        <h1>Search</h1>
        <div class="search-input-wrapper">
            <form role="search" class="searchpage-search" method="get" action="{% url 'home:search' %}">
                <input name="search" type="text" class="form-input" value="{{ search_input }}" autocomplete="off">
                <button class="form-btn form-x" type="button">
                    <img src="{% static 'images/base/x.svg' %}" alt="Clear">
                </button>
                <button class="form-btn form-submit" type="submit">
                    <img src="{% static 'images/base/search.svg' %}" alt="Submit">
                </button>
            </form>
        </div>
        <h2>Search results:</h2>
        <div class="search-results">
            {% if results_basic %}
                <h2>Categories</h2>
            {% for result in results_basic %}
                <div class="search-result">
                    <a href="{{ result.href }}">
                        <div class="row m-0">
                            <div class="col-12 col-sm-3 result-title">
                                {{ result.name }}
                            </div>
                            <div class="col-12 col-sm-9 result-description">
                                {{ result.description }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% endif %}
            {% if results_hero %}
                <h2>Heroes</h2>
            {% for result in results_hero %}
                <div class="search-result">
                    <a href="{{ result.href }}">
                        <div class="row m-0">
                            <div class="col-12 col-sm-3 result-title">
                                {{ result.name }}
                            </div>
                            <div class="col-12 col-sm-9 result-description">
                                {{ result.description }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% endif %}
            {% if results_item %}
                <h2>Items</h2>
            {% for result in results_item %}
                <div class="search-result">
                    <a href="{{ result.href }}">
                        <div class="row m-0">
                            <div class="col-12 col-sm-3 result-title">
                                {{ result.name }}
                            </div>
                            <div class="col-12 col-sm-9 result-description">
                                {{ result.description }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% endif %}
            {% if results_cosmetic %}
                <h2>Cosmetics</h2>
            {% for result in results_cosmetic %}
                <div class="search-result">
                    <a href="{{ result.href }}">
                        <div class="row m-0">
                            <div class="col-12 col-sm-3 result-title">
                                {{ result.name }}
                            </div>
                            <div class="col-12 col-sm-9 result-description">
                                {{ result.description }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block myscripts %}
    <script src="{% static 'scripts/search.js' %}"></script>
{% endblock %}