{% extends "base.html" %}

{% block content %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis dolorem impedit in magnam quia saepe
        tempore vel? Enim iusto natus rem sapiente totam! Assumenda blanditiis itaque laboriosam magni voluptatem?
    </div>
    <div>Alias aliquam animi illo tenetur velit. Aliquam cum cumque minus, officia saepe ullam vero. Ad consequatur
        deserunt doloribus ipsum libero maxime nesciunt, nisi odio porro provident quae recusandae reprehenderit
        voluptatibus?
    </div>
{% endblock %}
