{% extends "base.html" %}

{% block content %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, animi atque distinctio dolor et expedita fugiat,
        in ipsa optio placeat porro, praesentium quaerat tenetur vero voluptas? Doloribus ducimus omnis rerum!
    </div>
    <div>Aliquid commodi consequuntur, corporis explicabo id in itaque labore maiores nisi, officiis, possimus quae
        veniam vitae! Aperiam aspernatur dolor dolores exercitationem fuga nisi, obcaecati odit porro provident
        recusandae ut, veniam!
    </div>
    <div>Accusantium atque deserunt doloribus, eligendi expedita fugit harum incidunt ipsam ipsum laboriosam laudantium
        magnam, necessitatibus nobis porro quaerat, sapiente sit veritatis vitae. Consequuntur deserunt doloremque
        eligendi pariatur perferendis temporibus veniam!
    </div>
    <div>Adipisci assumenda atque deserunt exercitationem ipsam magnam maxime modi neque omnis, porro provident saepe
        similique sit tempore voluptatem voluptates voluptatum! Accusamus, blanditiis corporis dolor ipsam itaque
        laudantium magnam tempore voluptates!
    </div>
    <div>Accusantium earum excepturi exercitationem, non quasi quidem sunt! Ab doloremque et nulla quibusdam ullam,
        voluptates! A aliquam ea et facere facilis fugiat non quo tempora ullam! Aliquid delectus dicta laborum?
    </div>
{% endblock %}
