* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../font/bebas-neue-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../font/bebas-neue-bold.ttf");
  font-weight: 700;
}
body {
  margin-top: 51px;
  background: linear-gradient(to bottom, #3B3B42 0%, #191820 100%) fixed;
  color: #ffffff;
  font-family: Helvetica, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
}
body::-webkit-scrollbar-track {
  background-color: #1A1A1F;
}

.navbar {
  font-size: 16px;
  text-transform: uppercase;
}
.navbar .navbar-brand {
  opacity: 1;
}
.navbar .logo {
  height: 30px;
  width: auto;
}
.navbar .navbar-toggler {
  border: 0;
  box-shadow: 0 0 0 0;
}
.navbar .nav-link {
  color: #ffffff;
}
.navbar .nav-link:hover {
  color: #FED14C;
}

.header-dark {
  background-color: #1A1A1F;
  box-shadow: 6px 12px 40px rgba(11, 11, 26, 0.55);
}

.search {
  max-width: 200px;
}
.search * {
  background-color: #252429;
  border: 0;
  color: #ffffff;
  border-radius: 5px;
}
.search input {
  width: 70%;
  padding-left: 0;
  outline: none;
}
.search input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.search .search_x {
  width: 20px;
}
.search a:hover {
  opacity: 0.85;
}

.direction-button {
  width: 46px;
  height: 46px;
  background-color: #FFFFFF;
  border-radius: 100px;
  filter: drop-shadow(6px 12px 40px rgba(11, 11, 26, 0.55));
}
.direction-button img {
  position: relative;
  top: 13px;
  left: 11px;
  width: 24px;
  height: auto;
}
.direction-button:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .direction-button {
    width: 36px;
    height: 36px;
  }
  .direction-button img {
    top: 10px;
    left: 9px;
    width: 18px;
    height: auto;
  }
}

.up-button {
  display: none;
  position: fixed;
  right: 3vw;
  bottom: 10vh;
  z-index: 10;
}

footer, .footer {
  background-color: #1A1A1F;
  border-top: 1px solid #303030;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 90px;
}
@media (max-width: 768px) {
  footer, .footer {
    font-size: 14px;
  }
}
footer .row, .footer .row {
  margin-left: 3px;
  margin-right: 3px;
}
footer .logo-footer:hover, .footer .logo-footer:hover {
  opacity: 1;
}
footer .copyright, .footer .copyright {
  font-size: 14px;
  color: #696969;
}
footer h5, .footer h5 {
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid #FFFFFF;
  width: 140px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  footer h5, .footer h5 {
    font-size: 16px;
  }
}
footer a, .footer a {
  color: #FFFFFF;
}
footer a:hover, .footer a:hover {
  color: #FFFFFF;
  opacity: 0.8;
}
footer .contacts a, .footer .contacts a {
  height: 24px !important;
}

/*# sourceMappingURL=base.css.map */
