body {
  margin: 0;
}

html,
main {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
main::-webkit-scrollbar {
  width: 12px;
}
main::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
}
main::-webkit-scrollbar-track {
  background-color: #1A1A1F;
}

#disclaimer, .section, .footer {
  scroll-snap-align: start;
}

#disclaimer {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  height: 100vh;
  display: flex;
  align-items: center;
}
#disclaimer .disclaimer__video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
}
#disclaimer .disclaimer__content {
  max-width: 650px;
}
#disclaimer h1 {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 92px;
  line-height: 92px;
  margin-bottom: 30px;
}
#disclaimer h1 span {
  font-weight: 700;
}
#disclaimer p {
  margin-bottom: 50px;
}
@media (max-width: 680px) {
  #disclaimer {
    font-size: 16px;
  }
  #disclaimer h1 {
    font-size: 60px;
    margin-bottom: 15px;
    line-height: 60px;
  }
  #disclaimer p {
    margin-bottom: 15px;
  }
}
@media (max-width: 450px) {
  #disclaimer {
    font-size: 24px;
  }
  #disclaimer h1 {
    font-size: 92px;
    margin-bottom: 30px;
    line-height: 92px;
  }
  #disclaimer p {
    margin-bottom: 50px;
  }
}
@media (max-width: 380px) {
  #disclaimer {
    font-size: 16px;
  }
  #disclaimer h1 {
    font-size: 60px;
    margin-bottom: 15px;
    line-height: 60px;
  }
  #disclaimer p {
    margin-bottom: 15px;
  }
}

.learn-more-btn {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  background-color: #BF0606;
  padding: 10px 30px;
  width: 250px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  justify-content: center;
}
.learn-more-btn img {
  margin-left: 20px;
  transition: all 0.3s ease;
}
.learn-more-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.learn-more-btn:hover {
  color: #ffffff;
}
.learn-more-btn:hover:before {
  width: 100%;
}
.learn-more-btn:hover img {
  transform: translateX(15px);
  transition: all 0.3s ease;
}
@media (max-width: 380px) {
  .learn-more-btn {
    font-size: 20px;
    width: 240px;
  }
}

.section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1A1A1F;
}

.slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s, filter 2s;
  -webkit-transition: opacity 2s, filter 2s;
  -moz-transition: opacity 2s, filter 2s;
  -ms-transition: opacity 2s, filter 2s;
}
.slide .slide__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: end;
  justify-items: center;
}
.slide .slide__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 300px;
  width: 100%;
  height: auto;
  padding: 0 20px;
  z-index: -1;
}
.slide .slide__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  object-fit: contain;
  z-index: 0;
}
.slide .slide__poster-card {
  margin: 0 20px 20px 20px;
  position: relative;
  max-width: 850px;
  background-color: rgba(26, 26, 31, 0.7);
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1;
}
.slide .slide__poster-card .row-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.slide .slide__poster-card .row-1 .poster-card__text {
  font-family: "Helvetica", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  grid-column: 1/3;
}
.slide .slide__poster-card .row-1 .poster-card__btn {
  grid-column: 3/4;
}
.slide .slide__poster-card .row-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 20px;
}
.slide .slide__poster-card .row-2 .poster__link {
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #FFFFFF;
  background-color: #242429;
  border: 1px solid #353535;
  width: 100%;
  height: 100%;
  padding: 15px 0;
}
.slide .slide__poster-card .row-2 .poster__link:hover {
  color: #FED14C;
  background-color: #1A1A1F;
}
.slide .slide__poster-card .row-2 .poster__link_active {
  color: #FED14C;
  background-color: #1A1A1F;
}
@media (max-width: 760px) {
  .slide .slide__poster-card {
    margin: 0 10px 10px 10px;
    padding: 10px;
    width: calc(100% - 20px);
  }
  .slide .slide__poster-card .row-1 {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  .slide .slide__poster-card .row-1 .poster-card__text {
    grid-column: 1;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }
  .slide .slide__poster-card .row-1 .poster-card__btn {
    grid-column: 1;
  }
  .slide .slide__poster-card .row-1 .poster-card__btn .learn-more-btn {
    width: calc(100vw - 42px);
  }
  .slide .slide__poster-card .row-2 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .slide .slide__poster-card .row-2 .poster__link {
    font-size: 24px;
  }
}
@media (max-width: 380px) {
  .slide .slide__poster-card {
    margin: 0 5px 5px 5px;
    padding: 5px;
    width: calc(100% - 10px);
  }
  .slide .slide__poster-card .row-1 .poster-card__text {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
  }
  .slide .slide__poster-card .row-1 .poster-card__btn .learn-more-btn {
    padding: 8px 0;
    width: calc(100vw - 30px);
  }
  .slide .slide__poster-card .row-2 {
    gap: 5px;
    margin-top: 5px;
  }
  .slide .slide__poster-card .row-2 .poster__link {
    padding: 10px 0;
    font-size: 20px;
    height: 42px;
  }
}
@media (max-width: 500px) {
  .slide .slide__title {
    transform: translate(-50%, calc(-50% - 20vh));
  }
  .slide .slide__image {
    transform: translate(-50%, calc(-50% - 20vh));
  }
}

.slide.active {
  opacity: 1;
  filter: saturate(100%);
  z-index: 1;
}

#creeps {
  background: url("../images/index/creeps-bg.png");
}
#creeps .slide__image {
  max-width: 1536px;
}

#items {
  background: url("../images/index/items-bg.png");
}
#items .slide__image {
  max-width: 1200px;
}

#heroes {
  background: linear-gradient(270deg, #2C2AB3 0%, #32C1AB 100%);
}
#heroes .slide__image {
  max-width: 1000px;
}

#mechanics {
  background: url("../images/index/mechanics-bg.png");
}
#mechanics .slide__image {
  max-width: 1000px;
}

#creeps,
#items,
#heroes,
#mechanics {
  background-size: cover;
}

.footer {
  margin-top: 0;
}

.poster__link_active {
  color: #FED14C;
  background-color: #1A1A1F;
}

/*# sourceMappingURL=index.css.map */
