<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Name</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2247aab1c8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/item_detail.css">
    <link rel="icon" type="image/x-icon" href="/images/base/icon.svg">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark ру fixed-top py-2">
        <div class="container">
            <a class="navbar-brand m-0 me-5 p-0" href="index.html"><img class="logo" src="images/base/logo.svg"
                                                                        alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fa-xl"></i>
            </button>
            <div class="collapse navbar-collapse py-3 py-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mx-auto mb-lg-0">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link" href="heroes_list.html">Heroes</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link" href="items_list.html">Items</a>
                    </li>
                    <li class="nav-item dropdown px-lg-4">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Other
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Buildings</a></li>
                            <li><a class="dropdown-item" href="#">Runes</a></li>
                            <li><a class="dropdown-item" href="#">Creeps</a></li>
                        </ul>
                    </li>
                </ul>
                <form role="search" class="search">
                    <div class="input-group pe-2">
                        <span class="input-group-text py-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input type="text" class="form-input" placeholder="Search...">
                        <span class="input-group-text m-0 p-0 px-2 ms-auto search_x">
                            <a role="button" href="">
                                <i class="fa-solid fa-xmark" style="display: none"></i>
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    <a href="" class="direction-button up-button">
        <img src="images/base/up_btn.svg" alt="up-button">
    </a>
    <div class="container p-3 p-xl-5">
        <div class="item-description p-4 mx-0 mx-xl-5">
            <div class="item-name d-flex align-items-center justify-content-center mb-3">
                <h2 class="pe-4">
                    Overwhelming Blink
                </h2>
                <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink" class="img-fluid">
            </div>
            <p>
                Overwhelming Blink is an item purchasable at the Base Shop, under Arcane. However, it can only be completed with items from the Secret Shop.
            </p>
        </div>
        <div class="row m-0 mt-4">
            <div class="col-12 col-md-7 item-abilities p-0 ps-xl-5 pe-md-4">
                <div class="item-ability p-4 mb-4">
                    <h5 class="m-0 pb-4">
                        Ability : Overwhelming Blink
                    </h5>
                    <div class="row m-0 py-3 ability-characteristics">
                        <div class="col-4 ability">
                            <p class="characteristic-name">
                                Ability
                            </p>
                            <p class="characteristic-value">
                                Target Point
                            </p>
                        </div>
                        <div class="col-4 affects">
                            <p class="characteristic-name">
                                Affects
                            </p>
                            <p class="characteristic-value">
                                Self / Enemies
                            </p>
                        </div>
                        <div class="col-4 damage">
                            <p class="characteristic-name">
                                Damage
                            </p>
                            <p class="characteristic-value">
                                Magical
                            </p>
                        </div>
                    </div>
                    <div class="ability-description mt-4">
                        <p>
                            Teleport to a target point up to 1200 units away.
                            <br><br>
                            After teleportation, all enemies in a 800 AoE have 50% movement speed slow and 50 attack speed slow for 6 seconds, and take damage equal to 100 + 150% of your strength.
                            <br><br>
                            Overwhelming Blink cannot be used for 3 seconds after taking damage from an enemy hero or Roshan.
                        </p>
                    </div>
                    <div class="row ability-details mt-3">
                        <div class="col-12">
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                        </div>
                    </div>
                    <div class="row cooldown-mana mt-3">
                        <div class="col cooldown" align="start">
                            <img src="images/hero_detail/cooldown_icon.svg" alt="cooldown-icon">
                            <span class="cooldown-value ps-1">
                                        10 ( 5)
                                    </span>
                        </div>
                        <div class="col mana" align="end">
                            <img src="images/hero_detail/manaicon.svg" alt="mana-icon">
                            <span class="mana-value ps-1">
                                        75/80/85/90
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="item-ability p-4 mb-4">
                    <h5 class="m-0 pb-4">
                        Ability : Overwhelming Blink
                    </h5>
                    <div class="row m-0 py-3 ability-characteristics">
                        <div class="col-4 ability">
                            <p class="characteristic-name">
                                Ability
                            </p>
                            <p class="characteristic-value">
                                Target Point
                            </p>
                        </div>
                        <div class="col-4 affects">
                            <p class="characteristic-name">
                                Affects
                            </p>
                            <p class="characteristic-value">
                                Self / Enemies
                            </p>
                        </div>
                        <div class="col-4 damage">
                            <p class="characteristic-name">
                                Damage
                            </p>
                            <p class="characteristic-value">
                                Magical
                            </p>
                        </div>
                    </div>
                    <div class="ability-description mt-4">
                        <p>
                            Teleport to a target point up to 1200 units away.
                            <br><br>
                            After teleportation, all enemies in a 800 AoE have 50% movement speed slow and 50 attack speed slow for 6 seconds, and take damage equal to 100 + 150% of your strength.
                            <br><br>
                            Overwhelming Blink cannot be used for 3 seconds after taking damage from an enemy hero or Roshan.
                        </p>
                    </div>
                    <div class="row ability-details mt-3">
                        <div class="col-12">
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                            <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                                <span class="detail-value">
                                            0.55+0
                                        </span>
                            </p>
                        </div>
                    </div>
                    <div class="row cooldown-mana mt-3">
                        <div class="col cooldown" align="start">
                            <img src="images/hero_detail/cooldown_icon.svg" alt="cooldown-icon">
                            <span class="cooldown-value ps-1">
                                        10 ( 5)
                                    </span>
                        </div>
                        <div class="col mana" align="end">
                            <img src="images/hero_detail/manaicon.svg" alt="mana-icon">
                            <span class="mana-value ps-1">
                                        75/80/85/90
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 p-0 pe-xl-5">
                <div class="item-infobox p-4">
                    <h5 class="m-0 pb-4">
                        Overwhelming Blink
                    </h5>
                    <p>
                        A horrifying dagger forged in the chaos maw and nigh untouchable by mortal hands.
                    </p>
                    <div class="item-characteristics py-2">
                        <div class="characteristic py-2 d-flex">
                            <div class="characteristic-name pe-2">
                                Cost:
                            </div>
                            <div class="characteristic-value d-flex align-items-center justify-content-start">
                        <span class="price pe-2">
                            6800
                        </span>
                                <img src="images/items_list/coin.png" alt="Coin">
                            </div>
                        </div>
                        <div class="characteristic py-2 d-flex">
                            <div class="characteristic-name pe-2">
                                Sell value:
                            </div>
                            <div class="characteristic-value d-flex align-items-center justify-content-start">
                        <span class="price pe-2">
                            3400
                        </span>
                                <img src="images/items_list/coin.png" alt="Coin">
                            </div>
                        </div>
                        <div class="characteristic py-2 d-flex">
                            <div class="characteristic-name pe-2">
                                Active:
                            </div>
                            <div class="characteristic-value d-flex align-items-center justify-content-start">
                                Overwhelming Blink
                            </div>
                        </div>
                        <div class="characteristic py-2 d-flex">
                            <div class="characteristic-name pe-2">
                                Disassemble
                            </div>
                            <div class="characteristic-value d-flex align-items-center justify-content-start"></div>
                        </div>
                    </div>
                    <div class="item-recipe pt-3">
                        <p>Recipe</p>
                        <div class="recipe-images d-flex flex-column justify-content-center">
                            <div class="row m-0 pb-2">
                                <a href="" class="main-item-image d-flex justify-content-center">
                                    <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink" class="img-fluid">
                                </a>
                            </div>
                            <div class="connection mx-auto">
                                <div class="row m-0 connect-horizontal">
                                    <div class="col-6 connect-main"></div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row m-0 connect-others">
                                </div>
                            </div>
                            <div class="row m-0 pt-2">
                                <div class="col p-0">
                                    <a href="" class="other-item-image d-flex justify-content-center">
                                        <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col p-0">
                                    <a href="" class="other-item-image d-flex justify-content-center">
                                        <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col p-0">
                                    <a href="" class="other-item-image d-flex justify-content-center">
                                        <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col p-0">
                                    <a href="" class="other-item-image d-flex justify-content-center">
                                        <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-notes p-4 mx-0 mx-xl-5 mt-4">
            <h5 class="m-0 pb-4">
                Notes
            </h5>
            <div class="note d-flex align-items-start mb-4">
                <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
                <p class="note-text ps-3 m-0">
                    When point-targeted beyond the maximum blink distance, it blinks using the 960 range penalty distance, towards the targeted direction instead of maximum distance.
                </p>
            </div>
            <div class="note d-flex align-items-start mb-4">
                <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
                <p class="note-text ps-3 m-0">
                    When point-targeted
                </p>
            </div>
            <div class="note d-flex align-items-start mb-4">
                <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
                <p class="note-text ps-3 m-0">
                    When point-targeted beyond the maximum blink distance, it blinks using the 960 range penalty distance, towards the targeted direction instead of maximum distance.
                </p>
            </div>
            <div class="note d-flex align-items-start mb-4">
                <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
                <p class="note-text ps-3 m-0">
                    When point-targeted beyond the maximum blink distance, it blinks using the 960 range penalty distance, towards the targeted direction instead of maximum distance.
                </p>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="row p-0 pt-5 pb-3">
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-start p-0 pe-5">
                <a class="logo-footer" href="index.html">
                    <img src="images/base/logo.svg" alt="Logo" style="height: 40px; width: auto">
                </a>
                <p class="copyright my-3 my-md-5">© 2023 DotaWiki</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pe-5 my-3 my-md-0 about-us">
                <h5>
                    About Us
                </h5>
                <p>
                    Welcome to our Dota2 encyclopedia! We're gamers and Dota2 enthusiasts providing accurate and
                    up-to-date information about heroes, items, skins, and more. Our detailed guides and tips are
                    designed to help you improve your gameplay and enjoy the game to the fullest. Thank you for
                    visiting!
                </p>
            </div>
            <div class="col-6 col-lg-2 p-0 contacts">
                <h5>
                    Contacts
                </h5>
                <p>
                    <a href="https://www.linkedin.com/in/volodymyr-tkach5/" class="d-flex flex-row align-items-center">
                        <img src="images/base/linkedin-logo.png" alt="">
                        <span class="ps-2">Volodymyr</span>
                    </a>
                </p>
                <p>
                    <a href="" class="d-flex flex-row align-items-center">
                        <img src="images/base/linkedin-logo.png" alt="">
                        <span class="ps-2">Roman</span>
                    </a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/cargellenn-undefined-568bb7266/"
                       class="d-flex flex-row align-items-center">
                        <img src="images/base/linkedin-logo.png" alt="">
                        <span class="ps-2">Vladyslav</span>
                    </a>
                </p>
            </div>
            <div class="col-6 col-lg-2 p-0 useful-links">
                <h5>
                    Useful Links
                </h5>
                <p>
                    <a href="">
                        Heroes
                    </a>
                </p>
                <p>
                    <a href="">
                        Items
                    </a>
                </p>
                <p>
                    <a href="">
                        Buildings
                    </a>
                </p>
                <p>
                    <a href="">
                        Runes
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="scripts/base.js"></script>
<script src="scripts/item_detail.js"></script>
</body>
</html>
