{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}
{% block mystyles %}
<link rel="stylesheet" href="{% static 'css/item_detail.css' %}">
{% endblock %}
{% block content %}
<a href="" class="direction-button up-button">
    <img src="{% static 'images/base/up_btn.svg' %}" alt="up-button">
</a>
<div class="container p-3 p-xl-5">
    <div class="item-description p-4 mx-0 mx-xl-5">
        <div class="item-name d-flex align-items-center justify-content-center mb-3">
            <h2 class="pe-4">
                {{ item.name }}
            </h2>
            <img src="{{ item.image_url.url }}" alt="{{ item.name }}" class="img-fluid">
        </div>
        <p>
            {{ item.description }}
        </p>
    </div>
    <div class="row m-0 mt-4">
        <div class="col-12 col-md-7 item-abilities p-0 ps-xl-5 pe-md-4">
            <div class="item-ability p-4 mb-4">
                <h5 class="m-0 pb-4">
                    Ability : Overwhelming Blink
                </h5>
                <div class="row m-0 py-3 ability-characteristics">
                    <div class="col-4 ability">
                        <p class="characteristic-name">
                            Ability
                        </p>
                        <p class="characteristic-value">
                            Target Point
                        </p>
                    </div>
                    <div class="col-4 affects">
                        <p class="characteristic-name">
                            Affects
                        </p>
                        <p class="characteristic-value">
                            Self / Enemies
                        </p>
                    </div>
                    <div class="col-4 damage">
                        <p class="characteristic-name">
                            Damage
                        </p>
                        <p class="characteristic-value">
                            Magical
                        </p>
                    </div>
                </div>
                <div class="ability-description mt-4">
                    <p>
                        Teleport to a target point up to 1200 units away.
                        <br><br>
                        After teleportation, all enemies in a 800 AoE have 50% movement speed slow and 50 attack speed
                        slow for 6 seconds, and take damage equal to 100 + 150% of your strength.
                        <br><br>
                        Overwhelming Blink cannot be used for 3 seconds after taking damage from an enemy hero or
                        Roshan.
                    </p>
                </div>
                <div class="row ability-details mt-3">
                    <div class="col-12">
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                    </div>
                </div>
                <div class="row cooldown-mana mt-3">
                    <div class="col cooldown" align="start">
                        <img src="images/hero_detail/cooldown_icon.svg" alt="cooldown-icon">
                        <span class="cooldown-value ps-1">
                                        10 ( 5)
                                    </span>
                    </div>
                    <div class="col mana" align="end">
                        <img src="images/hero_detail/manaicon.svg" alt="mana-icon">
                        <span class="mana-value ps-1">
                                        75/80/85/90
                                    </span>
                    </div>
                </div>
            </div>
            <div class="item-ability p-4 mb-4">
                <h5 class="m-0 pb-4">
                    Ability : Overwhelming Blink
                </h5>
                <div class="row m-0 py-3 ability-characteristics">
                    <div class="col-4 ability">
                        <p class="characteristic-name">
                            Ability
                        </p>
                        <p class="characteristic-value">
                            Target Point
                        </p>
                    </div>
                    <div class="col-4 affects">
                        <p class="characteristic-name">
                            Affects
                        </p>
                        <p class="characteristic-value">
                            Self / Enemies
                        </p>
                    </div>
                    <div class="col-4 damage">
                        <p class="characteristic-name">
                            Damage
                        </p>
                        <p class="characteristic-value">
                            Magical
                        </p>
                    </div>
                </div>
                <div class="ability-description mt-4">
                    <p>
                        Teleport to a target point up to 1200 units away.
                        <br><br>
                        After teleportation, all enemies in a 800 AoE have 50% movement speed slow and 50 attack speed
                        slow for 6 seconds, and take damage equal to 100 + 150% of your strength.
                        <br><br>
                        Overwhelming Blink cannot be used for 3 seconds after taking damage from an enemy hero or
                        Roshan.
                    </p>
                </div>
                <div class="row ability-details mt-3">
                    <div class="col-12">
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                        <p class="detail">
                                        <span class="detail-title">
                                            Cast Animation:
                                        </span>
                            <span class="detail-value">
                                            0.55+0
                                        </span>
                        </p>
                    </div>
                </div>
                <div class="row cooldown-mana mt-3">
                    <div class="col cooldown" align="start">
                        <img src="images/hero_detail/cooldown_icon.svg" alt="cooldown-icon">
                        <span class="cooldown-value ps-1">
                                        10 ( 5)
                                    </span>
                    </div>
                    <div class="col mana" align="end">
                        <img src="images/hero_detail/manaicon.svg" alt="mana-icon">
                        <span class="mana-value ps-1">
                                        75/80/85/90
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 p-0 pe-xl-5">
            <div class="item-infobox p-4">
                <h5 class="m-0 pb-4">
                    {{ item.name }}
                </h5>
                <p>
                    {{ item.lore_description }}
                </p>
                <div class="item-characteristics py-2">
                    {% if item.cost %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Cost:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                        <span class="price pe-2">
                            {{ item.cost }}
                        </span>
                            <img src="{% static 'images/items_list/coin.png' %}" alt="Coin">
                        </div>
                    </div>
                    {% endif %}
                    {% if item.sell_value %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Sell value:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                        <span class="price pe-2">
                            {{ item.sell_value }}
                        </span>
                            <img src="{% static 'images/items_list/coin.png' %}" alt="Coin">
                        </div>
                    </div>
                    {% endif %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Active:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                            Overwhelming Blink
                        </div>
                    </div>
                    {% if item.shareable.name %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Shareable: {{ item.shareable }}
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start"></div>
                    </div>
                    {% endif %}
                    {% if item.disassemble.name %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Disassemble: {{ item.disassemble }}
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start"></div>
                    </div>
                    {% endif %}
                    {% if item.availability.name %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Availability: {{ item.availability }}
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start"></div>
                    </div>
                    {% endif %}
                </div>
                <div class="item-recipe pt-3">
                    <p>Recipe</p>
                    <div class="recipe-images d-flex flex-column justify-content-center">
                        <div class="row m-0 pb-2">
                            <a href="" class="main-item-image d-flex justify-content-center">
                                <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink" class="img-fluid">
                            </a>
                        </div>
                        <div class="connection mx-auto">
                            <div class="row m-0 connect-horizontal">
                                <div class="col-6 connect-main"></div>
                                <div class="col-6"></div>
                            </div>
                            <div class="row m-0 connect-others">
                            </div>
                        </div>
                        <div class="row m-0 pt-2">
                            <div class="col p-0">
                                <a href="" class="other-item-image d-flex justify-content-center">
                                    <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink"
                                         class="img-fluid">
                                </a>
                            </div>
                            <div class="col p-0">
                                <a href="" class="other-item-image d-flex justify-content-center">
                                    <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink"
                                         class="img-fluid">
                                </a>
                            </div>
                            <div class="col p-0">
                                <a href="" class="other-item-image d-flex justify-content-center">
                                    <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink"
                                         class="img-fluid">
                                </a>
                            </div>
                            <div class="col p-0">
                                <a href="" class="other-item-image d-flex justify-content-center">
                                    <img src="images/items_detail/test_item.jpg" alt="Overwhelming Blink"
                                         class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-notes p-4 mx-0 mx-xl-5 mt-4">
        <h5 class="m-0 pb-4">
            Notes
        </h5>
        <div class="note d-flex align-items-start mb-4">
            <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
            <p class="note-text ps-3 m-0">
                When point-targeted beyond the maximum blink distance, it blinks using the 960 range penalty distance,
                towards the targeted direction instead of maximum distance.
            </p>
        </div>
        <div class="note d-flex align-items-start mb-4">
            <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
            <p class="note-text ps-3 m-0">
                When point-targeted
            </p>
        </div>
        <div class="note d-flex align-items-start mb-4">
            <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
            <p class="note-text ps-3 m-0">
                When point-targeted beyond the maximum blink distance, it blinks using the 960 range penalty distance,
                towards the targeted direction instead of maximum distance.
            </p>
        </div>
        <div class="note d-flex align-items-start mb-4">
            <img class="pt-1" src="images/items_detail/note_marker.svg" alt="note-marker">
            <p class="note-text ps-3 m-0">
                When point-targeted beyond the maximum blink distance, it blinks using the 960 range penalty distance,
                towards the targeted direction instead of maximum distance.
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block myscripts %}
<script src="{% static 'scripts/item_detail.js' %}"></script>
{% endblock %}