{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}
{% block mystyles %}
<link rel="stylesheet" href="{% static 'css/item_detail.css' %}">
{% endblock %}
{% block content %}
<div class="container p-3 p-xl-5">
    <div class="item-description p-4 mx-0 mx-xl-5">
        <div class="item-name d-flex align-items-center justify-content-center mb-3">
            <h2 class="pe-4">
                {{ item.name }}
            </h2>
            <img src="{{ item.image_url.url }}" alt="{{ item.name }}" class="img-fluid">
        </div>
        <p>
            {{ item.description }}
        </p>
    </div>
    <div class="row m-0 mt-4">
        <div class="col-12 col-md-7 item-abilities p-0 ps-xl-5 pe-md-4">
            {% for ability in abilities %}
            <div class="item-ability p-4 mb-4">
                <h5 class="m-0 pb-4">
                    Ability : {{ ability.name }}
                </h5>
                <div class="row m-0 py-3 ability-characteristics">
                    {% if ability.ability_type.name %}
                    <div class="col-4 ability">
                        <p class="characteristic-name">
                            Ability
                        </p>
                        <p class="characteristic-value">
                            {{ ability.ability_type.name }}
                        </p>
                    </div>
                    {% endif %}
                    {% if ability.affects.name %}
                    <div class="col-4 affects">
                        <p class="characteristic-name">
                            Affects
                        </p>
                        <p class="characteristic-value">
                            {{ ability.affects.name }}
                        </p>
                    </div>
                    {% endif %}
                    {% if ability.damage.name %}
                    <div class="col-4 damage">
                        <p class="characteristic-name">
                            Damage
                        </p>
                        <p class="characteristic-value">
                            {{ ability.damage.name }}
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="ability-description mt-4">
                    <p>
                        {{ ability.description|safe }}
                    </p>
                </div>
                <div class="row ability-details mt-3">
                    <div class="col-12">
                        {% for key, value in ability.details.items %}
                        <p class="detail">
                                        <span class="detail-title">
                                            {{ key }}
                                        </span>
                            <span class="detail-value">
                                            {{ value }}
                                        </span>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row cooldown-mana mt-3">
                    {% if ability.cooldown %}
                    <div class="col cooldown" align="start">
                        <img src="{% static 'images/hero_detail/cooldown_icon.svg' %}" alt="cooldown-icon">
                        <span class="cooldown-value ps-1">
                                        {{ ability.cooldown }}
                                    </span>
                    </div>
                    {% endif %}
                    {% if ability.manacost %}
                    <div class="col mana" align="end">
                        <img src="{% static 'images/hero_detail/manaicon.svg' %}" alt="mana-icon">
                        <span class="mana-value ps-1">
                                        {{ ability.manacost }}
                                    </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-5 p-0 pe-xl-5">
            <div class="item-infobox p-4">
                <h5 class="m-0 pb-4">
                    {{ item.name }}
                </h5>
                <p>
                    {{ item.lore_description }}
                </p>
                <div class="item-characteristics py-2">
                    {% if item.cost %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Cost:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                        <span class="price pe-2">
                            {{ item.cost }}
                        </span>
                            <img src="{% static 'images/items_list/coin.png' %}" alt="Coin">
                        </div>
                    </div>
                    {% endif %}
                    {% if item.sell_value %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Sell value:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                        <span class="price pe-2">
                            {{ item.sell_value }}
                        </span>
                            <img src="{% static 'images/items_list/coin.png' %}" alt="Coin">
                        </div>
                    </div>
                    {% endif %}
                    {% if item.bonus %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Bonus:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                            {{ item.bonus|safe }}
                        </div>
                    </div>
                    {% endif %}
                    {% if item.shareable.name %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Shareable:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                            {{ item.shareable }}
                        </div>
                    </div>
                    {% endif %}
                    {% if item.disassemble.name %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Disassemble:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                            {{ item.disassemble }}
                        </div>
                    </div>
                    {% endif %}
                    {% if item.availability.name %}
                    <div class="characteristic py-2 d-flex">
                        <div class="characteristic-name pe-2">
                            Availability:
                        </div>
                        <div class="characteristic-value d-flex align-items-center justify-content-start">
                            {{ item.availability }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="item-recipe pt-3">
                    <p>Recipe</p>
                    <div class="recipe-images d-flex flex-column justify-content-center">
                        <div class="row m-0 pb-2">
                            <a href="" class="main-item-image d-flex justify-content-center">
                                <img src="{{ item.image_url.url }}" alt="Overwhelming Blink" class="img-fluid">
                            </a>
                        </div>
                        <div class="connection mx-auto">
                            <div class="row m-0 connect-horizontal">
                                <div class="col-6 connect-main"></div>
                                <div class="col-6"></div>
                            </div>
                            <div class="row m-0 connect-others">
                            </div>
                        </div>
                        <div class="row m-0 pt-2">
                            {% for recipe_item in item.recipe.all %}
                            <div class="col p-0">
                                <a href="/items/{{ recipe_item.slug }}"
                                   class="other-item-image d-flex justify-content-center">
                                    <img src="{{ recipe_item.image_url.url }}" alt="{{ recipe_item.name }}"
                                         class="img-fluid">
                                </a>
                            </div>
                            {% endfor %}
                            {% if item.need_recipe %}
                            <div class="col p-0">
                                <a href="#" class="other-item-image d-flex justify-content-center">
                                    <img src="{% static 'images/items_detail/recipe_icon.webp' %}"
                                         alt="{{ recipe_item.name }}"
                                         class="img-fluid">
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block myscripts %}
<script src="{% static 'scripts/item_detail.js' %}"></script>
{% endblock %}